.footer-up{
    height: 397px;
    background-color: #1C1E53;
    display: flex;
    justify-content: center;
    
}
.footer-up-container{
    display: flex;
    width:1280px;
    height: 100%;
}


.footer-up-left-yellow-block{
width:517px;
height: 95px;
background-color: #FCD980;
display: flex;
gap:30px;
align-items: center;
}
.footer-up-left-yellow-block-left{
     margin-left: 37px;  
}

#header-yellow-block{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #282938;
    
}
#text-yellow-block{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #282938;
    opacity: 0.8;
}
.footer-up-left-container{
/* padding: 104px 0px 0px 159px; */
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
#footer-up-left-container-text{
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
opacity: 0.8;
margin-top:24px

}
.footer-up-left{
    height: 100%;
}
#logo-footer{
    margin-top:104px
}
.footer-down-container{
    display: flex;
    align-items:center;
    justify-content: space-between;   
    width:1280px;
}
.footer-down-logo > p{
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
color: #282938;
}

.footer-down{
    height: 92px;
    background-color:white;
    background:white;
    display: flex;
    align-items:center;
    justify-content: center;
}

.footer-down-container>ul>li>a{
text-decoration: none;
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
color: #282938;
}
.footer-down-container>ul>li>a:hover{
    color: #64646d
    }

.footer-up-right > h2{
font-family: 'Poppins';
font-weight: 600;
font-size: 48px;
color: #FFFFFF;
margin-top: 96px;
    }

    .footer-up-right > p{
        margin-top: 14px;
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: #F4F6FC;
opacity: 0.8;
    }
    .footer-up-right>div>ul{
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
    .footer-up-right>div{
        margin-top: 28px;
    }
    .footer-up-right{
        margin-left: 142px;
    }
    footer{
        margin-top: 128px;
    }
    